<p>lawsuit-item works!</p>

<div class="row">
    <div class="col-xs-12">
        <h1>Lawsuit</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        ID: {{ lawsuit.lawsuitId }} <br>
        NAME: {{ lawsuit.name }} <br>
        CASE SIDE: {{ lawsuit.caseSide }} <br>
        INPUT DATE: {{ lawsuit.inputDate }} <br>
        DEADLINE: {{ lawsuit.deadline }} <br>
        SIGNATURE: {{ lawsuit.signature }} <br>
        CLAIM AMOUNT: {{ lawsuit.claimAmount }} <br>
        ADDITIONAL INFO: {{ lawsuit.additionalInfo }} <br>
        CONTACTS <br>
        TASKS <br>
        EVENTS <br>
    </div>
</div>
